.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E5E7EB;
    height: 100%;
    width: 100%;
}
.cabecalio{
    background-color: #024552;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #4A2E1F;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    a {
        color: #d3c1b4;
        text-decoration: none;
        transition: 0.2s;
        padding-right: 40px;
    }
    .titulo{
        padding-left: 40px;
    }
}
.conteudo{
    width: 60%;
    height: auto;
    background-color: #173D33;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    .titulo2{
        padding-top: 10px;
        padding-left:15px;
        font-size: 28px;
    }
}
.content{
    padding: 20px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left:30px;
    
}
.rodape{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color:#25150e ;
    padding-bottom:20px;
    padding-top: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    img{
        height: 50px;
        width: 50px;
    }
}
.rodape a {
  color: #d3c1b4;
  text-decoration: none;
  transition: 0.2s;
}

.rodape a:hover {
  color: white;
  text-decoration: underline;
}