.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E5E7EB;
    height: 100%;
    width: 100%;
}
.cabecalio{
    background-color: #024552;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #4A2E1F;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: sticky; top: 0;
    a {
        color: #d3c1b4;
        text-decoration: none;
        transition: 0.2s;
        padding-right: 40px;
    }
    .titulo{
        padding-left: 40px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }
    img{
        height: 120px;
        width: 120px;
        border-radius: 50%;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
    .horario{
        font-family: 'Times New Roman', Times, serif;
        align-self:flex-end;
    }
}
.conteudo{
    width: 60%;
    height: auto;
    background-color: #173D33;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    .titulo2{
        padding:20px 0px 20px 35px;
        font-size: 30px;

    }
}
.content{
    padding: 20px;
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left:30px;
    .escrita{
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }
    img{
        height: 110px;
        width: 110px;
        padding-left: 10px;
    }
    
}
.rodape{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#25150e ;
    padding-bottom:20px;
    padding-top: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    img{
        height: 50px;
        width: 50px;
        border-radius: 15px;
    }
}
.rodape a {
  color: #d3c1b4;
  text-decoration: none;
  transition: 0.2s;
}

.rodape a:hover {
  color: white;
  text-decoration: underline;
}