.background{
    width: 100%;
    height: 100vh;
    background-color: ivory;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloco{
    background-color: #34495E;
    overflow-wrap: break-word;
    width: 38%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    .quote{
        width: 80%;
        padding: 15px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        border-radius: 50px;
        margin-top: 25px;
        background-color: #4A6C8A;
        text-align: center;
    }
}
