.background{
    width: 100%;
    height: 100vh;
    background-color: ivory;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloco{
    background-color: gray;
    overflow-wrap: break-word;
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}